{% extends "auth/base_auth.html" %}
{% load i18n widget_tweaks %}
{% load i18n %}
{% block content %}
<div class="container my-5" style="max-width:480px;">
  <h3 class="text-center mb-4">{% trans "Aktywacja konta" %}</h3>
  <form method="post">{% csrf_token %}
    {{ form.new_password1.label_tag }}{{ form.new_password1|add_class:"form-control mb-3" }}
    {{ form.new_password2.label_tag }}{{ form.new_password2|add_class:"form-control mb-4" }}
    <button class="btn btn-success w-100">{% trans "Ustaw hasło i zaloguj" %}</button>
  </form>
</div>
{% endblock %}
